*.suo
*.user
_ReSharper.*
bin
obj
packages/

# TODO NUGET
!/packages/UnityEngine.dll
!/packages/UnityEngine.dll.mdb
!/packages/UnityEngine.xml
Foundation.Architecture/TestResults/
Foundation.Unity/Library/
Foundation.Unity/Temp/
Foundation.Unity/Assets/UnityTestTools/Assertions/
Foundation.Unity/ProjectSettings/
